.inputWrapper {
    padding: 10px 10px 20px 10px;
    border-bottom: 10px solid rgba(115, 216, 112);
    background-color: white;
    width: 400px;
    border-radius: 10px;
    margin: 0 auto;
    position: relative;
    top: 50px;
    -webkit-box-shadow: 0px 2px 15px 1px rgba(0,0,0,0.78);
    box-shadow: 0px 2px 15px 1px rgba(0,0,0,0.78);
}