img{
    width: 50px;
}

ul{
    list-style: none;
    padding: 10px;
}

li{
    background-color: #c6c1c1;
    border-radius:10px;
    -webkit-box-shadow: 0px 2px 15px 1px rgba(0,0,0,0.78);
    box-shadow: 0px 2px 15px 1px rgba(0,0,0,0.78);
    margin:5px;
    padding: 20px;
}

p{
    display: inline;
    position: relative;
    bottom: 20px;
    margin-right: 5px;
    margin-left: 5px;
    font-family: 'Montserrat', sans-serif;
    margin: 5px;
}