.sectionOne {
    display: flex;
    flex-direction: row;

}

.hello {
    width: 40%;
    margin-left: 60px;
    margin-top: 15px;
    margin-bottom: 50px;
}

.text {
    margin-right: 200px;
    color: white;
    width: 600px;

}

.text h1 {
    font-family: 'Love Ya Like A Sister', cursive;
    font-size: 28px;
    margin-bottom: 2px;

}

.text h4 {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}