

.header {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: space-around;
    align-items: stretch;
    color: white;
    background-color: #FFC75F;
    border-bottom: 1px solid #E7B355;
    margin: 0px;
    border-bottom: 2px solid #E7B355

}

.wrapper h1 {
    margin: 2px;
    /*font-family: 'Montserrat', sans-serif;*/
    font-family: 'Love Ya Like A Sister', cursive;
    /*font-family: 'Lato', sans-serif;*/

}

.profile {
    width: 40px;
    border: 1px solid white;
    border-radius: 60%;
    z-index: 3;
    position: relative;
}

.logo {
    width: 50px;

}


.wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.wrapper p {
    padding: 1px 20px 1px 10px;
    background-color: #E7B355;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    position: relative;
    left: 15px;
    z-index: 2;
    bottom: 2px;
}


.btn{
    text-decoration: none;
    background-color: #E7B355;
    padding: 0 15px 1.2px 15px;
    border-radius: 20px;
    text-align: center;
    position: relative;
    bottom: 1px;
    font-family: 'Montserrat', sans-serif;
}

.btn, .btn:visited, .btn:hover, .btn:active {
    color: inherit;
}