.arrow {
    width: 32px;
    position: absolute;
    top:-5px;
    right: -12px;
}

.keyboard {
    width: 20px;
    position: relative;
    top: 5px;
    left: 35px;
    border-right: 1px solid black;
    padding-right: 4px;
}

input {
    border-radius: 50px;
    border: 2px solid #969696;
    color: #969696;
    width: 300px;
    padding: 7px 7px 7px 38px;
}

.btn{
    position: relative;
    bottom:16.6px;
    right: 14.6px;
    width: 0;
    height:0;
    padding: 0;
    margin: 0;
}

.btn:hover{
    cursor: pointer;
}