.signsWrapper{
    background-color: #c6c1c1;
    border-radius:10px;
    -webkit-box-shadow: 0px 2px 15px 1px rgba(0,0,0,0.78);
    box-shadow: 0px 2px 15px 1px rgba(0,0,0,0.78);
    margin-top: 30px;
}